@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
@import "../css/reset.css";
@import "../css/util.css";

html,
body {
  scroll-behavior: smooth !important;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 15px;
}

.top-section {
  background-color: #0e1a35;
  padding: 25px 0 200px 0;
  position: relative;
}

.top-section__bg {
  height: 817px;
  background: url("../../images/grid.png") 50% / cover no-repeat,
    url("../../images/bg.png") 50% 115px / contain no-repeat;
}

.top-section__img {
  position: absolute;
  bottom: -170px;
  width: 100%;
}

.top-section__img img {
  display: block;
  box-shadow: 0 0 50px 1px #5584ff;
  margin: 0 auto;
}

.top-section__intro .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.top-section__intro-title {
  font-size: 60px;
  font-weight: 100;
  color: #ffffff;
}

.top-section__intro-subtitle {
  font-size: 36px;
  color: #8492af;
  margin-bottom: 70px;
}

.top-section__intro-btn {
  background-color: #5584ff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 15px 50px;
}

.header {
  margin-bottom: 140px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.nav__btn {
  border: 1px solid rgba(85, 132, 255, 0.29);
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #5584ff;
  padding: 15px 40px;
}

.options {
  margin-bottom: 30px;
}

.options .container {
  padding-top: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.options__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.options__item--left::after,
.options__item--right::after {
  content: "";
  height: 1px;
  background-color: #dbdfe8;
  width: 220px;
  position: absolute;
}

.options__item--left::after {
  top: 37px;
  right: -160px;
}

.options__item--right::after {
  top: 42px;
  right: -160px;
}

.options__item--right .options__item-img {
  margin-bottom: 40px;
}

.options__item img {
  width: fit-content;
  height: fit-content;
  margin-bottom: 50px;
}

.options__item-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #0e1a35;
  margin-bottom: 30px;
}

.options__item-desc {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #8492af;
  text-align: center;
  max-width: 370px;
  line-height: 30px;
}

.options__item-btn {
  font-size: 18px;
  margin-top: 50px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #0e1a35;
  background-color: rgba(85, 132, 255, 0);
  border: 1px solid rgba(132, 146, 175, 0.29);
  padding: 15px 75px;
}

.browser {
  background-color: #f6f7fa;
  padding: 100px 0 50px 0;
}

.browser .container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
}

.browser__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.browser__img {
  max-width: 50%;
  overflow: hidden;
}

.browser__title {
  font-size: 60px;
  font-weight: 100;
  color: #0e1a35;
}

.browser__desc {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  font-size: 18px;
  color: #8492af;
  line-height: 30px;
}

.browser__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.browser__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
  color: #5584ff;
}

.drag {
  padding: 100px 0;

  background: url("../../images/grid.png") 50% / cover no-repeat,
    url("../../images/bg.png") 50% / contain no-repeat;
  background-color: #0e1a35;
}

.drag .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.drag__example {
  display: flex;
  gap: 40px;
}

.drag__example-in-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drag__example-text {
  font-size: 30.6px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}

.drag__example-text span {
  color: #8492af;
}

.drag__here {
  border: 1px solid #8492af;
  width: 390px;
  height: 101px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag__here p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #8492af;
}

.drag__example-column {
  display: flex;
  gap: 15px;
  flex-direction: column;
  position: relative;
}

.drag__flying-img {
  position: absolute;
  left: -35px;
  bottom: -75px;
}

.drag__hand {
  position: absolute;
  right: -65px;
  bottom: -60px;
  z-index: 1000;
  background-color: rgb(38, 50, 76, 0.2);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag__hand div {
  background-color: rgb(56, 68, 93, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 76px;
  height: 76px;
}

.drag__hand div img {
  display: block;
  position: relative;
  left: -2px;
}

.drag__frame {
  overflow: hidden;
  max-width: 500px;
}

.drag__slider-title {
  font-size: 60px;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 40px;
}

.drag__slider-desc {
  font-size: 18px;
  color: #8492af;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 40px;
  line-height: 30px;
  width: 100%;
  height: 100%;
}

.drag__slider {
  padding-top: 50px;
}

.drag__slide {
  display: flex;
  align-items: center;
  transition: all 1s ease;
  width: 1500px;
}

.drag__arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}

.drag__arrows button {
  background-color: transparent;
  border: none;
}

.drag__arrows img {
  cursor: pointer;
}

.template {
  padding: 85px 0;
  background-color: #f6f7fa;
}

.template__title,
.template__desc {
  text-align: center;
}

.template__title {
  font-size: 60px;
  font-weight: 100;
  color: #0e1a35;
  margin-bottom: 40px;
}

.template__img {
  width: 100%;
}

.template__img img {
  width: 100%;
}

.template__desc {
  line-height: 30px;
  font-size: 18px;
  color: #8492af;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.template__box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.template__tip {
  position: absolute;
  max-width: 660px;
  width: 100%;
}

.template__tip--left {
  left: 50px;
  top: 110px;
}

.template__tip--right {
  right: 50px;
  bottom: 250px;
}

.template__tip--right .template__tip-title,
.template__tip--right .template__tip-desc {
  text-align: right;
}

.template__tip--right .template__tip-desc {
  margin-left: auto;
}

.template__tip-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #0e1a35;
  margin-bottom: 12px;
}

.template__tip-desc {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #8492af;
  max-width: 235px;
}

.template__tip-decor {
  height: 2px;
  background-color: #5584ff;
  position: relative;
  margin-bottom: 20px;
}

.template__decor-circle {
  width: 46px;
  height: 46px;
  background-color: rgb(153, 181, 255, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template__decor-circle--left {
  position: absolute;
  top: -23px;
  left: -30px;
}

.template__decor-circle--right {
  position: absolute;
  top: -23px;
  right: -23px;
}

.template__decor-circle div {
  width: 30px;
  height: 30px;
  background-color: #5584ff;
  border-radius: 50%;
}

.pricing {
  padding: 20px 0 100px 0;
}

.pricing__title {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  color: #0e1a35;
  margin-bottom: 80px;
}

.pricing__items {
  display: flex;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 100px;
}

.pricing__item {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  justify-content: center;
}

.pricing__item-title {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #0e1a35;
  text-align: center;
}

.pricing__item-price {
  font-size: 40.1px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #0e1a35;
  text-align: center;
}

.pricing__item-number {
  font-size: 72px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #0e1a35;
}

.pricing__item-mon {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #8492af;
}

.pricing__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.pricing__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pricing__list-item img {
  width: 24px;
  height: 24px;
}

.pricing__list-item p {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #8492af;
}

.pricing__desc {
  font-size: 18px;
  line-height: 30px;
  color: #8492af;
  text-align: center;
  max-width: 875px;
  margin: 0 auto;
}

.pricing__btn {
  background-color: #5584ff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: none;
  padding: 15px 60px;
  margin: 0 auto;
  margin-top: 65px;
  display: block;
  position: relative;
}

.pricing__btn:after,
.pricing__btn:before {
  content: "";
  display: block;
  height: 1px;
  background-color: #dbdfe8;
  max-width: 226px;
  width: 100%;

  position: absolute;
  top: 50%;
}

.pricing__btn:after {
  right: 240px;
}

.pricing__btn::before {
  left: 240px;
}

.footer {
  padding: 60px 0;
  background-color: #0e1a35;
  color: #8492af;
  font-size: 18px;
}

.footer .container {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 45px;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 45px;
}

.footer__list-item a {
  color: #8492af;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 17px;
}

.nav__close {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 15px;
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  display: none;
}

.nav__close img {
  width: 100%;
  height: 100%;
}

.nav__open {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  display: none;
}

.nav__open img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1150px) {
  .options .container {
    flex-wrap: wrap;
  }

  .options__item::after {
    display: none;
  }

  .browser .container {
    flex-wrap: wrap;
  }

  .browser__img {
    width: fit-content;
    max-width: 100%;
    position: relative;
    right: -50px;
  }

  .browser__img img {
    width: 100%;
  }
}

@media screen and (max-width: 1430px) {
  .drag .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .template__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .template__tip {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: relative;
  }

  .template__tip-decor {
    display: none;
  }

  .template__tip-title {
    text-align: center !important;
    font-size: 40px;
    margin-bottom: 15px;
  }

  .template__tip-desc {
    max-width: 100%;
    text-align: center !important;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1090px) {
  .pricing__items {
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  .nav__list {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    top: 0;
    bottom: 0;
    gap: 60px;
    width: 450px;
    background-color: #0e1a35;
    z-index: 9999;
    font-size: 35px;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  .nav__list--active {
    transform: translateX(0);
    box-shadow: 0 0 50px 1px #5584ff;
  }

  .nav__btn {
    font-size: 35px;
  }

  .nav__open,
  .nav__close {
    display: block;
  }

  h1 img {
    width: 170px;
  }

  .top-section__intro-title {
    font-size: 40px;
    text-align: center;
  }

  .top-section__intro-subtitle {
    font-size: 30px;
  }

  .top-section__bg {
    height: 100vh;
    background: url(../../images/grid.png) 50% / cover no-repeat,
      url(../../images/bg.png) 50% 115px / cover no-repeat;
  }

  .top-section__img {
    padding: 0 15px;
  }

  .top-section__img img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .pricing__title {
    font-size: 40px;
  }

  .browser__content {
    margin: 0 auto;
    text-align: center;
    gap: 30px;
  }

  .browser__desc {
    margin: 0 auto;
    font-size: 16px;
    gap: 15px;
  }

  .browser__list-item {
    justify-content: center;
  }

  .browser__list-text {
    font-size: 16px;
  }

  .browser__title {
    font-size: 40px;
  }

  .drag__example {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 60px;
  }

  .template__title {
    font-size: 40px;
  }

  .template__desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 780px) {
  .footer .container {
    flex-direction: column;
  }

  .pricing__btn::before,
  .pricing__btn::after {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .pricing__item {
    padding: 0;
  }

  .drag__slider-title {
    font-size: 45px;
  }

  .drag__slider-desc {
    font-size: 16px;
  }

  .drag__slide {
    width: 750px;
  }

  .drag__frame {
    max-width: 250px;
  }

  .browser__content {
    gap: 25px;
  }

  .browser__desc {
    font-size: 14px;
    gap: 10px;
  }

  .browser__list {
    gap: 15px;
  }

  .browser__list-text {
    font-size: 14px;
  }

  .browser__list-item img {
    width: 25px;
    height: 25px;
  }

  .browser__title {
    font-size: 30px;
  }

  .top-section {
    padding-bottom: 0;
  }

  .nav__list {
    width: 100%;
  }

  .top-section__intro-title {
    font-size: 30px;
  }

  .top-section__intro-subtitle {
    font-size: 20px;
  }

  .top-section__img {
    bottom: -10%;
  }

  .top-section__bg {
    background: url(../../images/grid.png) 50% / cover no-repeat,
      url(../../images/bg.png) 50% 115px / cover no-repeat;
  }

  .template__tip-title {
    font-size: 27px;
    margin-bottom: 15px;
  }

  .template__tip-desc {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 450px) {
  .footer__license {
    text-align: center;
  }

  .footer__nav {
    flex-direction: column;
  }

  .browser__content {
    gap: 20px;
  }

  .browser__desc {
    font-size: 12px;
    gap: 5px;
  }

  .browser__list {
    gap: 10px;
  }

  .browser__list-text {
    font-size: 12px;
  }

  .browser__list-item img {
    width: 20px;
    height: 20px;
  }

  .browser__title {
    font-size: 25px;
  }
}
