.pricing {
  padding: 20px 0 100px 0;
}

.pricing__title {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  color: $text-color;
  margin-bottom: 80px;
}

.pricing__items {
  display: flex;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 100px;
}

.pricing__item {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  justify-content: center;
}

.pricing__item-title {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: $text-color;
  text-align: center;
}

.pricing__item-price {
  font-size: 40.1px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $text-color;
  text-align: center;
}

.pricing__item-number {
  font-size: 72px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $text-color;
}

.pricing__item-mon {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #8492af;
}

.pricing__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.pricing__list-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pricing__list-item img {
  width: 24px;
  height: 24px;
}

.pricing__list-item p {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: $secondary-color;
}

.pricing__desc {
  font-size: 18px;
  line-height: 30px;
  color: $secondary-color;
  text-align: center;
  max-width: 875px;
  margin: 0 auto;
}

.pricing__btn {
  background-color: $link-color;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: none;
  padding: 15px 60px;
  margin: 0 auto;
  margin-top: 65px;
  display: block;
  position: relative;
}

.pricing__btn:after,
.pricing__btn:before {
  content: "";
  display: block;
  height: 1px;
  background-color: #dbdfe8;
  max-width: 226px;
  width: 100%;

  position: absolute;
  top: 50%;
}

.pricing__btn:after {
  right: 240px;
}

.pricing__btn::before {
  left: 240px;
}
